doctype html
html
  head
    title This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
    link(rel="stylesheet", href="/styles/style.css")
  body
    header
      h1 Volunteer Management App
    main
      section#events
        h2 Events
        ul#event-list
          // Event items will be dynamically added here
      section#volunteers
        h2 Volunteers
        ul#volunteer-list
          // Volunteer items will be dynamically added here
    footer
      p © 2024 Volunteer Management App
